body {
	background-color: #1f1b1a;
	padding: 50px;
}
h1 {
	font-family: 'Open Sans', Arial, serif;
	font-weight: 300;
	font-size: 50px;
	color: #393331;
}
div.palette-fragment {
	display: table-cell;
	height: 50px;
	width: 100vw;
}
